In [1]:
import sys
import os

sys.path.append(os.getcwd() + "/../")

import pandas as pd
import numpy as np
from scripts.split_dataset import split_dataset

In [2]:
raw_dataset = pd.read_csv("../data/Fall_Simulation_Data/annotations.csv")

display(raw_dataset.head())

display(raw_dataset.describe())

display(raw_dataset.info())

display(raw_dataset["category"].value_counts() / len(raw_dataset))

,video_path,video_name,category,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,fall_visible,lying_visible,ranking
0,data/Fall_Simulation_Data/videos/ADL17_Cam1.avi,ADL17_Cam1,ADL,1,17,NaN,NaN,NaN,NaN,1875,NaN,NaN,NaN
1,data/Fall_Simulation_Data/videos/ADL16_Cam1.avi,ADL16_Cam1,ADL,1,16,NaN,NaN,NaN,NaN,840,NaN,NaN,NaN
2,data/Fall_Simulation_Data/videos/Fall30_Cam3.avi,Fall30_Cam3,Fall,3,30,24.0,27.0,27.0,88.0,110,True,True,3.0
3,data/Fall_Simulation_Data/videos/Fall19_Cam4.avi,Fall19_Cam4,Fall,4,19,55.0,58.0,58.0,225.0,240,True,True,4.0
4,data/Fall_Simulation_Data/videos/Fall18_Cam4.avi,Fall18_Cam4,Fall,4,18,88.0,91.0,91.0,243.0,255,True,True,5.0

,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,ranking
count,357.000000,357.000000,272.000000,272.000000,272.000000,272.000000,357.000000,272.000000
mean,3.008403,23.375350,41.602941,44.040441,44.040441,138.400735,424.005602,2.992647
std,1.417165,16.239578,26.260202,26.227542,26.227542,62.439264,510.244054,1.408966
min,1.000000,1.000000,10.000000,12.000000,12.000000,28.000000,50.000000,1.000000
25%,2.000000,9.000000,24.000000,26.000000,26.000000,92.000000,138.000000,2.000000
50%,3.000000,19.000000,30.000000,33.000000,33.000000,127.000000,190.000000,3.000000
75%,4.000000,37.000000,55.000000,58.000000,58.000000,195.000000,270.000000,4.000000
max,5.000000,55.000000,128.000000,131.000000,131.000000,248.000000,2130.000000,5.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_path     357 non-null    object
 1   video_name     357 non-null    object
 2   category       357 non-null    object
 3   camera_id      357 non-null    int64
 4   scenario_id    357 non-null    int64
 5   fall_start     272 non-null    float64
 6   fall_end       272 non-null    float64
 7   lying_start    272 non-null    float64
 8   lying_end      272 non-null    float64
 9   length         357 non-null    int64
 10  fall_visible   272 non-null    object
 11  lying_visible  272 non-null    object
 12  ranking        272 non-null    float64
dtypes: float64(5), int64(3), object(5)
memory usage: 36.4+ KB

None

category
Fall    0.761905
ADL     0.238095
Name: count, dtype: float64

# Split the data!

We split the data into train, test, and validation csv files on a per video level.
Since ADL videos are much longer (and thus produce more samples in our method), we
want to keep the proportion of ADL videos vs. Fall videos similar among the different
splits. Hence, we stratify by the `category` column.

In [4]:
SPLIT = (0.7, 0.2, 0.1)

train_df, test_df, val_df = split_dataset(
    annotations=raw_dataset,
    output_path="../data/Fall_Simulation_Data/",
    split=SPLIT,
    random_seed=42,
    stratify="category",
    save_splits=True,
)

In [5]:
display("------------------- Train -------------------")
display(train_df.head())
display(train_df.describe())
display(train_df.info())
display(train_df["category"].value_counts() / len(train_df))

display("------------------- Test -------------------")
display(test_df.head())
display(test_df.describe())
display(test_df.info())
display(test_df["category"].value_counts() / len(test_df))

display("------------------- Val -------------------")
display(val_df.head())
display(val_df.describe())
display(val_df.info())
display(val_df["category"].value_counts() / len(val_df))

'------------------- Train -------------------'

,video_path,video_name,category,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,fall_visible,lying_visible,ranking
105,data/Fall_Simulation_Data/videos/Fall7_Cam4.avi,Fall7_Cam4,Fall,4,7,28.0,31.0,31.0,219.0,230,True,True,2.0
338,data/Fall_Simulation_Data/videos/Fall23_Cam3.avi,Fall23_Cam3,Fall,3,23,16.0,19.0,19.0,110.0,126,True,True,3.0
139,data/Fall_Simulation_Data/videos/Fall7_Cam2.avi,Fall7_Cam2,Fall,2,7,28.0,31.0,31.0,219.0,230,True,True,4.0
11,data/Fall_Simulation_Data/videos/Fall50_Cam4.avi,Fall50_Cam4,Fall,4,50,15.0,18.0,18.0,131.0,140,True,True,1.0
350,data/Fall_Simulation_Data/videos/Fall34_Cam4.avi,Fall34_Cam4,Fall,4,34,25.0,28.0,28.0,241.0,265,True,True,4.0

,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,ranking
count,249.000000,249.000000,190.000000,190.000000,190.000000,190.000000,249.000000,190.000000
mean,2.935743,23.594378,42.421053,44.868421,44.868421,140.952632,435.321285,2.963158
std,1.424118,16.672127,26.002067,25.958627,25.958627,62.717920,531.165085,1.434168
min,1.000000,1.000000,10.000000,12.000000,12.000000,28.000000,50.000000,1.000000
25%,2.000000,9.000000,24.000000,26.000000,26.000000,92.500000,140.000000,2.000000
50%,3.000000,19.000000,32.000000,34.000000,34.000000,134.000000,200.000000,3.000000
75%,4.000000,38.000000,55.000000,58.000000,58.000000,188.000000,270.000000,4.000000
max,5.000000,55.000000,128.000000,131.000000,131.000000,248.000000,2130.000000,5.000000

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, 105 to 263
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_path     249 non-null    object
 1   video_name     249 non-null    object
 2   category       249 non-null    object
 3   camera_id      249 non-null    int64
 4   scenario_id    249 non-null    int64
 5   fall_start     190 non-null    float64
 6   fall_end       190 non-null    float64
 7   lying_start    190 non-null    float64
 8   lying_end      190 non-null    float64
 9   length         249 non-null    int64
 10  fall_visible   190 non-null    object
 11  lying_visible  190 non-null    object
 12  ranking        190 non-null    float64
dtypes: float64(5), int64(3), object(5)
memory usage: 27.2+ KB

None

category
Fall    0.763052
ADL     0.236948
Name: count, dtype: float64

'------------------- Test -------------------'

,video_path,video_name,category,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,fall_visible,lying_visible,ranking
255,data/Fall_Simulation_Data/videos/Fall3_Cam2.avi,Fall3_Cam2,Fall,2,3,128.0,131.0,131.0,224.0,235,True,True,2.0
80,data/Fall_Simulation_Data/videos/Fall13_Cam3.avi,Fall13_Cam3,Fall,3,13,24.0,27.0,27.0,94.0,110,True,True,3.0
37,data/Fall_Simulation_Data/videos/Fall1_Cam1.avi,Fall1_Cam1,Fall,1,1,47.0,50.0,50.0,125.0,138,True,True,5.0
239,data/Fall_Simulation_Data/videos/Fall45_Cam2.avi,Fall45_Cam2,Fall,2,45,20.0,22.0,22.0,28.0,50,True,True,1.0
159,data/Fall_Simulation_Data/videos/ADL10_Cam3.avi,ADL10_Cam3,ADL,3,10,NaN,NaN,NaN,NaN,1170,NaN,NaN,NaN

,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,ranking
count,72.000000,72.000000,55.000000,55.000000,55.000000,55.000000,72.000000,55.000000
mean,3.277778,23.597222,37.345455,39.818182,39.818182,130.472727,389.166667,3.036364
std,1.334507,15.429677,25.964519,25.981540,25.981540,64.885327,457.178826,1.304744
min,1.000000,1.000000,10.000000,12.000000,12.000000,28.000000,50.000000,1.000000
25%,2.000000,10.000000,23.500000,25.500000,25.500000,88.000000,117.500000,2.000000
50%,3.000000,25.000000,28.000000,30.000000,30.000000,121.000000,165.000000,3.000000
75%,4.000000,35.000000,44.000000,47.000000,47.000000,197.500000,255.000000,4.000000
max,5.000000,52.000000,128.000000,131.000000,131.000000,238.000000,1800.000000,5.000000

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 255 to 275
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_path     72 non-null     object
 1   video_name     72 non-null     object
 2   category       72 non-null     object
 3   camera_id      72 non-null     int64
 4   scenario_id    72 non-null     int64
 5   fall_start     55 non-null     float64
 6   fall_end       55 non-null     float64
 7   lying_start    55 non-null     float64
 8   lying_end      55 non-null     float64
 9   length         72 non-null     int64
 10  fall_visible   55 non-null     object
 11  lying_visible  55 non-null     object
 12  ranking        55 non-null     float64
dtypes: float64(5), int64(3), object(5)
memory usage: 7.9+ KB

None

category
Fall    0.763889
ADL     0.236111
Name: count, dtype: float64

'------------------- Val -------------------'

,video_path,video_name,category,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,fall_visible,lying_visible,ranking
44,data/Fall_Simulation_Data/videos/Fall30_Cam5.avi,Fall30_Cam5,Fall,5,30,24.0,27.0,27.0,88.0,110,True,True,5.0
143,data/Fall_Simulation_Data/videos/Fall40_Cam1.avi,Fall40_Cam1,Fall,1,40,53.0,55.0,55.0,115.0,140,True,True,2.0
110,data/Fall_Simulation_Data/videos/ADL9_Cam4.avi,ADL9_Cam4,ADL,4,9,NaN,NaN,NaN,NaN,1140,NaN,NaN,NaN
208,data/Fall_Simulation_Data/videos/Fall32_Cam4.avi,Fall32_Cam4,Fall,4,32,53.0,55.0,55.0,144.0,174,True,True,4.0
254,data/Fall_Simulation_Data/videos/Fall9_Cam1.avi,Fall9_Cam1,Fall,1,9,78.0,80.0,80.0,203.0,224,True,True,2.0

,camera_id,scenario_id,fall_start,fall_end,lying_start,lying_end,length,ranking
count,36.000000,36.000000,27.000000,27.000000,27.000000,27.000000,36.000000,27.000000
mean,2.972222,21.416667,44.518519,46.814815,46.814815,136.592593,415.416667,3.111111
std,1.502115,15.018798,28.648225,28.614194,28.614194,55.805472,470.641287,1.476309
min,1.000000,2.000000,10.000000,12.000000,12.000000,28.000000,50.000000,1.000000
25%,2.000000,9.000000,23.000000,25.000000,25.000000,96.500000,124.000000,2.000000
50%,3.000000,18.500000,44.000000,47.000000,47.000000,115.000000,174.000000,3.000000
75%,4.000000,30.500000,66.000000,68.000000,68.000000,181.500000,365.750000,4.000000
max,5.000000,53.000000,128.000000,131.000000,131.000000,238.000000,1528.000000,5.000000

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 44 to 252
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_path     36 non-null     object
 1   video_name     36 non-null     object
 2   category       36 non-null     object
 3   camera_id      36 non-null     int64
 4   scenario_id    36 non-null     int64
 5   fall_start     27 non-null     float64
 6   fall_end       27 non-null     float64
 7   lying_start    27 non-null     float64
 8   lying_end      27 non-null     float64
 9   length         36 non-null     int64
 10  fall_visible   27 non-null     object
 11  lying_visible  27 non-null     object
 12  ranking        27 non-null     float64
dtypes: float64(5), int64(3), object(5)
memory usage: 3.9+ KB

None

category
Fall    0.75
ADL     0.25
Name: count, dtype: float64